.menu {
    width: max-content;
    background-color: rgb(0, 0, 255);
    padding: 16px;
}
.naslov {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.ozadje {
    background-image: url('slike/ozadje2.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.dropdownbtn {
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.obdobja-menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 255);
    min-width: none;
    z-index: 1;
}
.obdobja-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
}
.dropdown:hover .obdobja-menu {display: block;}

.podnaslov {
    color: white;
}
.tekst {
    color: white;
    font-size: 20px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}